.logo__navbar{
	max-width: 10%;
	max-height: 10vw;
}
.navbar{
	font-color: white;
	text-decoration: none;
}
.card-body{
	text-align: center;
}
.facebook__icon{
	display: inline-block;
}
.instagram__icon{
	display: inline-block;
}

.map__responsive{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map__responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (min-width: 300px) and (max-width: 600px){
.map__responsive iframe{
	max-width: 100%
	height:auto;
}
}